[submodule "external/RP2040/LED_Matrix_RP2040"]
	path = external/RP2040/LED_Matrix_RP2040
	url = https://github.com/daveythacher/LED_Matrix_RP2040.git
[submodule "firmware/PICO/rgb-led-matrix-rp2040-module"]
	path = firmware/PICO/rgb-led-matrix-rp2040-module
	url = https://github.com/rgb-led-matrix/rgb-led-matrix-rp2040-module.git
