[submodule "external/RP2040/LED_Matrix_RP2040"]
	path = external/RP2040/LED_Matrix_RP2040
	url = https://github.com/rgb-led-matrix/LED_Matrix_RP2040.git
[submodule "external/FTDI/FTDI_D2XX"]
	path = external/FTDI/FTDI_D2XX
	url = https://github.com/rgb-led-matrix/FTDI_D2XX.git
